html, body {
    height: 100%;
    margin: 0px;
    min-width: 400px;
}

body, input {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}

#body-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 6px;
    height: 60px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #222;
    padding: 5px;
    margin: 0 5px 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

#google_apps {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
}

#google_apps svg {
    display: block;
}

#profile {
    text-decoration: none;
    padding: 4px;
    display: inline-block;
    vertical-align: middle;
}

#profile img {
    border-radius: 50%;
}

header img {
    max-width: 30%;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

main {
    padding: 20px;
    max-height: 160px;
    flex-shrink: 0;
    box-sizing: border-box;
}

form {
    width: auto;
    max-width: 584px;
    position: relative;
    margin: 0 auto;
    padding-top: 6px;
}

#form-wrapper {
    width: auto;
    max-width: 584px;
    position: relative;
    margin: 0 auto;
    padding-top: 6px;
}

#searchbar-wrapper {
    width: auto;
    max-width: 584;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
}

#searchbar {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}

#searchbar-icon-wrapper {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

#searchbar-icon {
    margin: auto;
}

#searchbar-icon span {
    margin-top: 3px;
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: relative;
}

#searchbar-icon svg {
    display: block;
    height: 100%;
    width: 100%;
}

#searchbar-input-wrapper {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

#searchbar-input {
    background-color: transparent;
    flex: 1;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
}

#searchbar-input-center {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
}

#searchbar-voice-wrapper {
    display: flex;
    flex: 0 0 auto;
    margin-top: -5px;
    align-items: stretch;
    flex-direction: row;
}

#searchbar-voice {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    line-height: 44px;
}

#searchbar-voice svg {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

#submit {
    display: flex;
    justify-content: center;
    padding-top: 18px;
}

input[type="submit"] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

footer {
    background: #f2f2f2;
    flex-shrink: 0;
    box-sizing: border-box;
}

#footer-language {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

#footer-nav {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    justify-content: space-evenly;
}

#footer-nav div {
    display: flex;
    flex-wrap: wrap;
}

#footer-nav div a {
    color: #70757a;
    display: block;
    padding: 15px;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;   
}

#addition-wrapper {
    flex-grow: 1;
    flex-shrink: 0;
    box-sizing: border-box;
}

#addition {
    font-size: small;
    margin-bottom: 24px;
    text-align: center;
}

#additional-languages {
    color: #3c4043;
    display: inline-block;
    line-height: 28px;
}

#additional-languages a {
    padding: 0 3px;
    color: #1a0dab;
    text-decoration: none;
    cursor: pointer;
    font-size: small;
    text-align: center;
}